.flex-container-wrap, .flex-container-no-wrap {
    display: flex;
    padding: 1rem;
    flex-direction: row;
  }
  
  .flex-item-wrap, .flex-item-no-wrap {
    padding: 0.2rem 3rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    font-family: cursive;
    color: #e6c037;
    text-align: center;
  }
  
  .flex-container-wrap {
    flex-wrap: wrap;
  }
  
  .flex-item-wrap {
     background-color: #784367;
  }
  
  .flex-item-no-wrap {
    background-color: #42474a;
  }