.flex-container {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
  }
  
  .flex-item {
    margin: 0.5rem;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    font-family: cursive;
    color: #e6c037;
    background-color: #784367;
    text-align: center;
  }